*{
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
    
}

.container{
    width: 80%;
}

/*Navbar*/
.navbar-nav .nav-link {
    color: #48644e;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-right: 40px;
}

.navbar-nav .nav-link:hover{
    color: #39b54a;
}

/*Navbar transition*/
.bg-white{
    background-color: white;
    transition: all 1s ease; 
}



/*Homepage bg container*/
#background-image{
    background-image: url("../images/byron-johnson-pj1jt4vBGZY-unsplash\(1\).jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
}


#subtitle-main{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    letter-spacing: .3rem;
    position: relative;
    margin-top: 20vh;
    margin-bottom: 1.2rem;
    margin-left: 6px;
}

#title-home{
    font-size: 3.3rem;
    line-height: 1.333;
    margin-top: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
}

.home-content__buttons {
    padding-top: 4rem;
    text-align: left;
}

.home-content__buttons .btn {
    width: 215;
    border-color: #FFFFFF;
    color: #FFFFFF;
    margin: 1.5rem 1.5rem 0 0;
    letter-spacing: .25rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.home-content__buttons .btn:hover, .home-content__buttons .btn:focus {
    background: #FFFFFF !important;
    color: #000000;
}

.btn{
    display: inline-block;
    font-family: "montserrat-medium", sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    height: 5.4rem;
    line-height: calc(5.4rem - .4rem);
    padding: 0 2rem;
    margin: 0 .3rem 1.2rem 0;
    color: #000000;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #c5c5c5;
    border: .2rem solid #c5c5c5;
}

.btn--stroke, button.btn--stroke {
    background: transparent !important;
    border: 0.2rem solid #39b54a;
      border-top-color: rgb(57, 181, 74);
      border-right-color: rgb(57, 181, 74);
      border-bottom-color: rgb(57, 181, 74);
      border-left-color: rgb(57, 181, 74);
    color: #39b54a;
}



/*About me*/
#about-me{
    height: 100vh;
    background: linear-gradient(119deg, #8b8a8a 0%, rgba(13,42,37,1) 100%);
    text-align: center;
}

#subtitle-about{
    font-size: 1.2rem;
    line-height: 1.333;
    text-transform: uppercase;
    letter-spacing: .25rem;
    margin-top: 20vh;
    margin-bottom: 0;
    color: black;
}

#title-about{
    font-size: 3em;
    line-height: 1.25;
    color: white;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#hr-about{
    color: white;
    font-size: 5px;
    margin: 20px auto;
}

#about-paragraph{
    color: white;
}


/*SERVICES SECTION*/
#services{
    height: 100vh;
    text-align: center;
    margin-bottom: 200px;
}

#title-services{
    font-size: 3em;
    line-height: 1.25;
    color: black;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#subtitle-services{
    font-size: 1.2rem;
    line-height: 1.333;
    text-transform: uppercase;
    letter-spacing: .25rem;
    margin-top: 20vh;
    margin-bottom: 0;
    color: black;
}

.services-paragraph{
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
}

#hr-services{
    color: black;
    font-size: 5px;
    margin: 20px 0px 40px auto;
}

.box{
    margin-top: 40px;
    box-shadow: -2px 10px 42px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 10px 42px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 10px 42px 0px rgba(0,0,0,0.75);
    height: 300px;
}

.icon-box{
    width: 30px;
    height: 30px;
    margin-top: 100px;
}

.subtitle-boxes{
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: bold;
}


/*project SECTION*/
#project{
    height: 100vh;
    background: linear-gradient(119deg, #8b8a8a 0%, rgba(13,42,37,1) 100%);
    text-align: center;
}


#subtitle-project{
    font-size: 1.2rem;
    line-height: 1.333;
    text-transform: uppercase;
    letter-spacing: .25rem;
    margin-top: 20vh;
    margin-bottom: 0;
    color: white;
}

#title-project{
    font-size: 3em;
    line-height: 1.25;
    color: white;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#hr-project{
    color: white;
    font-size: 5px;
    margin: 20px auto;
}

#img-project{
    width: 100px;
    height: 100px;
    margin-top: 40px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(47deg) brightness(119%) contrast(109%);
}

#work-subtitle{
    font-size: 1.2rem;
    line-height: 1.333;
    text-transform: uppercase;
    letter-spacing: .25rem;
    margin-top: 10vh;
    margin-bottom: 0;
    color: white;
}

/*CONTACT*/
#contact{
    height: 150vh;
    background-image: url("../imageS/brennan-burling-ay53qag90W8-unsplash.jpg");
    background-size: cover;
    text-align: center;
}

#subtitle-contact{
    font-size: 1.2rem;
    line-height: 1.333;
    text-transform: uppercase;
    letter-spacing: .25rem;
    margin-top: 15vh;
    margin-bottom: 0;
    color: white;
}

#title-contact{
    font-size: 3em;
    line-height: 1.25;
    color: white;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.row-form{
    text-align: center;
    width: 100%;
    margin: 70px auto;
}

#form-title{
    font-size: 3em;
    line-height: 1.25;
    color: white;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
}

#form{
    text-align: left;
    margin-top: 30px;
    width: 90%;
}

.form-input{
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    width: 40%;
    margin-right: 30px;
}

.form-input:focus{
    border-color:white;
    outline:0;
    -webkit-box-shadow:inset 0 0 0px rgba(0,0,0,0.075),0 0 0px white;
    box-shadow:inset 0 0px 0px rgba(0,0,0,0.075),0 0 0px white;
}

.input-2{
    margin-top: 20px;
    width: 86%;
}

